
@font-face {
  font-family: "anderson";
  src: url("assets/AndersonGrotesk.otf");
  }

body {
  margin: 3em auto;
  padding: 1px;
  font-family: anderson ;
  /* width: 50%; */
  max-width: 900px;
  -moz-user-focus: ignore;
  background-image: url('assets/background.jpg');
  /* background-color:rgb(33,33,33); */
}


.playerlist > div {
  margin-bottom: 2em;
}

